<h6 class="mt-3">Trier par taille:</h6>


<button
  class="selected col-12 btn btn-light"
  type="button"
  data-toggle="collapse"
  data-target="#collapseOrderBy"
  aria-expanded="false"
  aria-controls="collapseOrderBy"
>
  {{ orderBy }}
</button>
<div class="collapse" id="collapseOrderBy">
  <ul class="p-0">
    <li style="list-style-type: none;" *ngFor="let el of orderList">
      <a
        data-toggle="collapse"
        data-target="#collapseOrderBy"
        aria-controls="collapseOrderBy"
        (click)="order(el)"
        class="col-12 btn {{
          el === orderBy ? 'btn-light' : 'btn-basic'
        }} "
        style="color: black;"
        >{{ el }}</a
      >
    </li>
  </ul>
</div>
