<div [hidden]="posts.length > 0 || loading">
  <h1 style="align-content: center;">No posts yet.</h1>
  <img
    style="height: 500px; width: 500px;"
    src="../../../assets/undraw_page_not_found_su7k.svg"
  />
</div>

<div [hidden]="posts.length === 0" class="container">
  <div class="row">
    <app-filters
      class="col-4"
      (changeFilter)="onChangeFilter($event)"
      (changeGroups)="onChangeGroups($event)"
    ></app-filters>
    <div class="col-8">
      <app-posts
        *ngFor="let post of posts"
        [hidden]="
          displayPostsIds.indexOf(post.postId) === -1 &&
          displayPostsIds.length > 0
        "
        [postImage]="post.image"
        [postTitle]="post.title"
        [postDescription]="post.description"
        [postDate]="post.date"
        [postLocation]="post.location"
        [postGroups]="post.groups"
        [postParticipants]="post.participants"
        [postId]="post.postId"
      >
        ></app-posts
      >
      <!-- <div
        class="jumbotron m-4"
        style="background-color: peachpuff;box-shadow: 0 2px 4px 0 rgba(0,0,0,.12); border-radius: 8px; border: 0px;"
      >
        <h1>Election délégué</h1>
        <p>Soon...</p>
      </div> -->
    </div>
  </div>
</div>
