<div
  class="card m-4 border border-0"
  style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.12); border-radius: 8px;"
>
  <div
    class="card-img-top"
    style="max-height:200px;overflow:hidden;background-color: #6c757d;box-shadow: 0 0 4px 0 rgba(0,0,0,.12);border-radius: 8px 8px 0 0;"
  >
    <img
      style="margin-top: -15%;"
      class="img-fluid pl-5 pr-5"
      src="../../../../assets/{{ postImage }}"
      alt="{{ postImage }}"
    />
  </div>
  <div class="card-body" style="background-color: ghostwhite;">
    <h1>{{ postTitle }}</h1>
    <p class="card-text">
      {{ postDescription }}
    </p>

    <div class="row">
      <div class="col-6">
        <div>
          <p>
            <i class="material-icons">
              date_range
            </i>
            {{ postDate | date }}
          </p>
        </div>
        <div>
          <p>
            <i class="material-icons">
              map
            </i>
            {{ postLocation }}
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-light dropdown-toggle"
            style="box-shadow: none"
            data-toggle="dropdown"
          >
            <i class="material-icons">
              emoji_people
            </i>
            Participants
          </button>
          <div class="dropdown-menu">
            <a
              *ngFor="let participant of postParticipants"
              class="dropdown-item"
              >{{ participant.firstName }}_{{ participant.lastName }}</a
            >
          </div>
        </div>
        <div>
          <button
            class="btn btn-dark ml-2"
            style="border-radius: 24px;"
            (click)="illBeThere(postId)"
          >
            <i class="material-icons {{ participating ? 'yellowHand' : '' }}">
              pan_tool
            </i>
            I'll be there
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card-footer text-muted d-flex hideScroll"
    style="overflow-x:scroll;"
  >
    <!-- <button *ngFor="let group of postGroups" class="btn btn-warning mr-1">{{group}}</button> -->
    <div
      *ngFor="let group of postGroups"
      class="m-1 pl-2 pr-2"
      style="white-space: nowrap;background-color: sandybrown;box-shadow: 0 2px 4px 0 rgba(0,0,0,.12); border-radius: 20px;"
    >
      {{ group.name }}
    </div>
  </div>
</div>
