<div class="m-5">
  <div class="card">
      <h4 class="card-header">Créer un nouveau compte</h4>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input placeholder="Email" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Un email est requis</div>
                      <div *ngIf="!f.email.errors.required && f.email.errors.email">L'email n'est pas valide</div>
                  </div>
              </div>
              <div class="form-group">
                <input placeholder="Login" type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
                <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                    <div *ngIf="f.login.errors.required">Login est requis</div>
                </div>
            </div>
              <div class="form-group">
                  <input placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password est requis</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Prenom" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">Prenom est requis</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Nom" type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Nom est requis</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Adresse" type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Adresse est requis</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Code postal" type="text" formControlName="postCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postCode.errors }" />
                  <div *ngIf="submitted && f.postCode.errors" class="invalid-feedback">
                      <div *ngIf="f.postCode.errors.required">Code postal est requis</div>
                  </div>
              </div>
              <div class="form-group">
                  <input placeholder="Ville" type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">Ville est requis</div>
                  </div>
              </div>
              <div class="form-group">
                <input placeholder="Pays" type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                    <div *ngIf="f.country.errors.required">Pays est requis</div>
                </div>
            </div>
              <div class="form-group">
                  <input placeholder="Telephone" type="phone" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div>Le numéro n'est pas valide</div>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  S'inscrire
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div>
