<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">
    Alina
    <i class="material-icons">
      today
    </i>
  </a>
  <div class="navbar-nav">
    <a
      *ngIf="isAuth()"
      routerLinkActive="active"
      class="nav-item nav-link"
      [routerLink]="['/newpost']"
      >New post+
    </a>
    <a
      *ngIf="isAuth()"
      routerLinkActive="active"
      class="nav-item nav-link"
      [routerLink]="['/posts']"
      >Posts</a
    >
    <a
    *ngIf="isAuth()"
    routerLinkActive="active"
    class="nav-item nav-link"
    [routerLink]="['/newgroup']"
    >New group+
  </a>
    <a
      *ngIf="isAuth()"
      routerLinkActive="active"
      class="nav-item nav-link"
      [routerLink]="['/groups']"
      >Groups</a
    >
  </div>
  <div class="navbar-nav ml-auto">
    <a
      *ngIf="!isAuth()"
      routerLinkActive="active"
      class="nav-item nav-link"
      [routerLink]="['/signup']"
      >Signup</a
    >
    <a
      *ngIf="!isAuth()"
      routerLinkActive="active"
      class="nav-item nav-link"
      [routerLink]="['/signin']"
      >Signin</a
    >

    <a *ngIf="isAuth()" class="nav-item nav-link" [routerLink]="['/account']">
      {{ username }}
    </a>
    <i *ngIf="isAuth()" class="material-icons">
      account_circle
    </i>
    <a
      *ngIf="isAuth()"
      style="cursor: pointer;"
      class="nav-item nav-link"
      (click)="logout()"
      >Signout</a
    >
  </div>
</nav>
